* {
    box-sizing: border-box;
}

body {
    background-color: #90C7E3;
    color: #666666;
    font-family: Verdana, Arial, sans-serif;
    margin: 0;
}

#desktop {
    display: none;
}

dt {
    color: darkblue;
    font-weight: 700;  
}

footer {
    font-size: 0.70em;
    font-style: italic;
    text-align: center;
    padding: 1em;
    background-color: white;
}

form{
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    width: 80%;
}

header {
    padding: 1em;
}

header a {
    text-decoration: none;
}

header a:link,a:visited {
    color: white;
}

header a:hover {
    color: lightblue;

}

h1 {
    background-color: #002171;
    color: #ffffff;
    font-family: Georgia, serif;
    font-size: 1.5em;
    text-align: center;
}

h2 {
    color: #1976d2;
    font-family: Georgia, serif;
}

h3 {
    font-family: Georgia, serif;
}

input{
    margin-bottom: 0.5em;
}

#homehero {
    background-image: url(Images/madrokhmain.jpg);
    background-repeat: no-repeat;
    height: 300px;
    background-size: 100% 100%;
}

#trailhero {
    background-image: url(Images/trail.jpg);
    background-repeat: no-repeat;
    height: 300px;
    background-size: 100% 100%;
}

#yurthero {
    background-image: url(Images/yurt.jpg);
    background-repeat: no-repeat;
    height: 300px;
    background-size: 100% 100%;
}

main {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1em;
    padding-right: 1em;
    display: block;
}

#mobile {
    display: inline;

}

nav {
    font-size: 1.2em;
    background-color: white;
    text-align: center;

}

nav a { text-decoration: none; }

nav a:link {
    color: #5c7fa3
}

nav a:visited {
     color: #344873; 
}

nav a:hover {
    color: #A52A2A;
}

nav li{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1.0em;
    padding-right: 1.0em;
    width: 100%;
    border-bottom: 1px solid;
}

nav ul {
    display: flex;
    flex-direction:column;
    list-style: none;
    padding-left: 0;
    margin: 0;

}

.resort { 
    color: #1976d2;
    font-size: 1.2em;

}

#reshero{
    height: 300px;
    background-image: url(Images/ocean.jpg);
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

section {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

table{
    border: 1px solid blue;
    width: 90%;
    border-collapse: collapse;
    margin: auto;
}

textarea{
    margin-bottom: 0.5em;
}

td{
    padding: 5px;
    border: 1px solid blue;
    text-align: center;
}

td.text{
    text-align: left;
}


th{ 
    padding: 5px;
    border: 1px solid blue;
}

tr:nth-child(even){
    background-color: lightblue;
}
    
#wrapper {
    min-width: 960px;
    max-width: 2048px;
    background-color: white;
    text-indent: .1em;
}

@media only screen and (min-width: 600px) {
    body {
        background-color: rgb(136, 70, 70);
    }
    form{
        width: 60%;
        display: grid;
        gap: 1em;
        grid-template-columns: 10em 1fr;
    }

    h1 {
        font-size: 2em;
        letter-spacing: 0.25em;
    }
    nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        padding-right: 2em;
    }
    nav li {
        width: 12em;
        border-bottom: none;
        }
    section {
        padding-left: 2em;
        padding-right: 2em;
    }
    #flow {
        display: flex;
        flex-direction: row;
    }
    #mobile {
        display: none;
    }
    
    #desktop {
        display: inline;
    }

    #homehero, #yurthero, #trailhero {
        background-size: 100% 100%
    }

    #submit{
        grid-column: 2;
        width: 9em;
    }

    }


@media only screen and (min-width: 1024px) {
    
    body {
        background-image: linear-gradient(to bottom, rgb(136, 70, 70) 20%, #90C7E3 60%, white 100%);
    }

    nav ul {
        padding-right: 10%;
        padding-left: 10%;
    }

    #wrapper {
        margin-left:auto;
        margin-right:auto;
        width: 80%;
    }

    

}